h1 {
  font-size: 30px;
  text-align: center;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #981e32;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-wsu-home, .nav-events, .nav-about {
  font-weight: bold;
  color: white;
  text-decoration: none;

  display: block;
  margin: 1em;
}

nav svg {
  margin-right: 0.2em;
}

.loader {
  display: block;
  margin: 0 auto;
  width: 100px;
}

.feed-container {
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
  background-color: white;
  padding: 20px;
}

.eventItem {
  margin: 2em 0;
}

.eventItem img {
  width: 100%;
}

.eventTime svg {
  margin-right: 0.2em;
}

.eventItem a {
  color: white;
  text-decoration: none;
}

.eventItem button:hover, .eventItem button:active {
  background-color: #c60c30;
}

.eventItem button {
  display: block;
  font-weight: 800;
  color: white;
  background-color: #981e32;
  border: none;
  padding: 1em;
  border-radius: 20px;
}

.read-more-button {
  color: #981e32;
  text-decoration-line: underline;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.button-container button {
  margin: 0.5em 0;
}

.buttonText {
  margin-left: 0.5em;
}

@media only screen and (min-width: 600px) {
  .button-container {
    flex-direction: row;
    justify-content: space-between;
  }
}