html {
  /* background-color: #981e32; */
}

.loader {
  display: block;
  margin: 0 auto;
  width: 100px;
}

.App {
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
  background-color: white;
  padding: 20px;
}

.eventItem {
  margin: 2em 0;
}

.eventItem img {
  width: 100%;
}

.eventItem a {
  color: white;
  text-decoration: none;
}

.eventItem button:hover, .eventItem button:active {
  background-color: #c60c30;
}

.eventItem button {
  display: block;
  font-weight: 800;
  color: white;
  background-color: #981e32;
  border: none;
  padding: 1em;
  border-radius: 20px;
}

.read-more-button {
  color: #981e32;
  text-decoration-line: underline;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.button-container button {
  margin: 0.5em 0;
}

@media only screen and (min-width: 550px) {
  .button-container {
    flex-direction: row;
    justify-content: space-between;
  }
}